*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: #0b132b;
}

.container
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box
{
    width: 400px;
    max-width: 90%; 
    position: relative;
}
.input-box input
{
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #ccc;
    outline: none;
    color: #fff;
    background: transparent;
}
button
{
    background-color: transparent;
    border: 0;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
button img
{
    width: 35px;
}
#msg
{
    position: absolute;
    bottom: -30px;
    color: #fff;
    font-size: 16px;
    display: none;
}
::placeholder
{
    font-size: 16px;
}
.title {
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-top: 120px;
    margin-bottom: -170px; 
    text-decoration: underline;
    transform: translateY(100px);
}